.CalculatorLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  text-align: left;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Input {
  border-radius: 5px;
  border: 1px solid var(--blue);
  padding: 0.5rem;
  width: 95%;
  margin: 5px auto;
  align-self: center;
}

.ButtonsContainer {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
}

@media (min-width: 560px) {
  .CalculatorLayout {
    margin: auto 1rem;
    padding: 0.5rem;
    width: 45%;
    height: 80%;
  }
  .InputContainer {
    width: 100%;
  }
}
