.TipAmountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  margin: auto 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  height: 90%;
  width: 45%;
  color: white;
  position: relative;
}

.PricingContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Reset {
  background-color: var(--light-blue);
  width: 80%;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto;
  font-weight: 600;
  color: var(--blue);
}

.Reset:hover {
  background-color: aquamarine;
}
